<p id="notice"><%= notice %></p>
<section>
<% @institutions.each do |institution| %>
  <div class="col-md-3 text-title">
    <h5 class="text-title"><%= institution.name %></h5>
    <%= link_to institution do %>
      <% image_tag("rails.png") %>
    <% end %>
  </div>
<% end %>

</section>