<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul>
        <%= link_to 'QueroDoar', root_path, class:"navbar-brand"%>
    </ul>
    <ul>
        <%= link_to 'institutions', institutions_path, class:"navbar-brand"%>
    </ul>
</nav>
